@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono')

$primary: #FFA71A
$background: #263238
$contrast: rgba(0, 0, 0, 0.9)
  
body
  background: $background
  font-family: 'Montserrat', sans-serif
  
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  
  position: fixed
  height: 100%
  width: 100%
  margin: 0
  overflow: hidden
  
  @media screen and (max-height: 375px)
    position: relative
    overflow: auto
  
.card
  width: 80%
  
  @media screen and (max-width: 1200px)
    width: 100%
    
#editorWrapper
  position: relative
  height: 100%
  min-height: 45vh
  
  @media (min-height: 600px)
    height: 55vh
    
  @media (min-height: 900px)
    height: 65vh
    
  #editor
    font-family: 'Roboto Mono', monospace
    font-size: 14px
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    
.btn
  color: $contrast
  font-family: 'Russo One', sans-serif
  font-size: 1.2em
  font-weight: 200
  letter-spacing: .15em
  line-height: 2.5
  text-decoration: none
  text-transform: uppercase
  
  cursor: pointer
  padding: 0 1em
  position: relative
  width: 100%
  margin-bottom: 1em
  
  background-color: $primary
  
  &:hover
    background-color: darken($primary, 15%)